nav {
  background-color: rgba(255, 255, 255, 0.114);
  margin-top: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 280px;
  font-size: 28px;
  display: flex;
  gap: 50px;
  border-radius: 100px;
}

a {
  text-decoration-line: none;
  font-weight: bold;
}

a:hover {
  color: #ffbcc5;
}

b {
  background: linear-gradient(to right, #cf1351 30%, #db36a4 100%);
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.6);
}

b:hover {
  color: rgb(0, 0, 0);
}

body {
  font-family: Poppins;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

h1 {
  font-size: 256px;
  background: linear-gradient(to right, #cf1351 30%, #db36a4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
